<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/styles/main.css" />
  </head>

  <body>
    <h1 id="mainHeading">Books</h1>

    <!--Adding new books-->
    <form action="/addBook" method="post">
      <input
        type="text"
        name="bookname"
        placeholder="<%= message %>"
      /><br />
      <button type="submit">Add</button>
    </form>

    <!--Displaying all the added books-->
    <div class="books">
      <% for(let book of books) { %>
      <img
        class="bookNames"
        src="<%= book.coverUrl %>"
        alt="<%= book.name %>"
      />
      <!-- <p class="onlyTitle"><%= book.name %></p> -->

      <!--Editing a book name-->
      <form action="/editBook" method="post">
        <input type="hidden" name="updatedBookId" value="<%= book.id %>" />
        <input
          id="input<%= book.id %>"
          type="text"
          name="updatedTitle"
          value="<%= book.name %>"
          autocomplete="off"
          autofocus="true"
          hidden="true"
        />
        <button
          id="done<%= book.id %>"
          class="edit"
          type="submit"
          hidden="true"
        >
          Edit
        </button>
        <button
          id="edit<%= book.id %>"
          class="edit"
          onclick="handler('<%= book.id %>')"
        >
          Edit
        </button>
      </form>
      <% } %>
    </div>
  </body>
</html>

